:root {
  --active-link: #61dafb;
  --magenta: #f09;
  --red: #ff002f;
  --white: #ffffff;
  --gray: #e2e2e2;
  --light-gray: #6b6b6b;
  --middle-gray: #4d4d4d;
  --dark-gray: #282828;
  --darkest-gray: #121212;
  --lazure: #0fa;
  --emerald: #276749;
  --light-emerald: #2f855a;
  --lightest-emerald: #38a169;
  --greeny: #63d2a6;
  --header-height: 5rem;
  --menu-btn-width: 7rem;
  --menu-btn-height: 3rem;
  --preloader-wrapper-size: 80px;
  --round-borders-radius: 5px;
  --circle-border-radius: 100px;
  --sidebar-bg-color: #2f855a;
  --sidebar-item-hover: #38a169;
  --sidebar-item-active: #276749;
  --menu-size: 500px;
  --menu-padding: 2rem;
  --menu-icon-size: 100px;
  --menu-icon-border-radius: 50%;
  --header-color: #2058c1;
  --header-color2: #486ec6;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--color-text);
  background: var(--gray);
  transition: color 0.5s, background-color 0.5s;
  /* background-color: var(--gray);
  color: var(--dark-gray); */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main {
  /* padding: 0 1rem 0 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: var(--header-height);
  right: 0;
  left: 0;
  bottom: 0;
}

input,
select,
textarea {
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  outline: none;
  border: 2px solid #ccc;
  padding: 0.25em 0.5rem;
  border-radius: 3px;
  font-size: 1rem;
  resize: none;
}
input[type="number"] {
  width: 100px;
}
input:active:not(:disabled),
input:focus,
textarea:active,
textarea:focus {
  transition: border 0.22s;
}
textarea:disabled {
  background-color: white;
}
.card {
  border-radius: var(--round-borders-radius);
  background: var(--white);
  padding: 1.5rem;
}
small {
  color: crimson;
}
textarea#query {
  height: 4rem;
  margin-bottom: 1rem;
}
.btn {
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
  text-align: center;
  width: 12rem;
  border-radius: 99px;
  letter-spacing: 0.05em;
  border: 1px solid var(--greeny);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  background: var(--header-color);
  transition: all 0.22s;
}
.btn.stop {
  background: crimson;
  border-color: pink;
}
.picking.manips {
  background: rgb(143, 80, 155);
  border-color: rgb(176, 101, 191);
}
.picking.bins {
  background: rgb(90, 170, 102);
  border-color: rgb(91, 218, 110);
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 1 !important;
  background: #eee !important;
  border-color: #ddd !important;
  color: #999 !important;
}

.btn:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
